.container {
    color: #252525;
    font-size: 22px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    border: rgba(164,163,160,0.63) 1px solid;
    width: 90%;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 20px;
}

.input, .btn {
    font-size: 20px;
    border: #c2c2c2 2px solid;
    border-radius: 5px;

    padding: 5px;
    margin: 0 20px;
}

.input:focus {
    outline: none;
}

.invalidInput {
    border-color: red;
}

.btn {
    font-size: 20px;
    margin: 0;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #c2c2c2;
}

.error {
    height: 25px;
    padding: 10px 20px;
    font-size: 15px;
    color: red;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }

    .form {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .input, .btn {
        box-sizing: border-box;
        margin: 10px 0;
        padding: 3px;
        width: 250px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        font-size: 17px;
    }

    .input, .btn {

        font-size: 17px;
    }

    .error {
        font-size: 12px;
        padding: 10px;
    }
}

