.container {
  color: #252525;
  font-size: 22px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  border: rgba(164,163,160,0.63) 1px solid;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 20px;
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 480px){
  .container {
    font-size: 17px;

    padding: 10px;
  }
}